a {
  cursor:pointer;
}

/** VALIDATION */
.validated {
  background-color: #e0ece0;
  color: #009c00;
}
.notvalidated {
  background-color: #ece0e0;
  color: #9c0000;
}
.validated .validatedstatus       { display:inline; }
.validated .notvalidatedstatus    { display:none; }
.notvalidated .validatedstatus    { display:none; }
.notvalidated .notvalidatedstatus { display:inline; }
.validated #unvalidate            { display:inline; }
.validated #validate              { display:none; }
.notvalidated #unvalidate         { display:none; }
.notvalidated #validate           { display:inline; }

.fa-green {
  color: #009c00;
}

.fa-orange {
  color: #F57921;
}

.fa-stackb {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}
.fa-stackb-1x, .fa-stackb-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stackb-2x {
  font-size: 1em;
}
.fa-stackb-1x {
  line-height: inherit;
  font-size: 0.5em;
}

.info_icons {
  position:absolute;
  top:0px;
  left:0.5em;
}

/** PAGE USERS */
.user {
  border: solid 1px #cecece;
  border-radius: 5px;
  padding: 5px;
}

.user .userid {
  border-right: solid 2px #cecece;
  border-bottom: solid 2px #cecece;
  border-radius: 5px;
  margin-right: 10px;
}

.user .username {
  font-variant: small-caps;
  font-weight: bold;
}

.user .righticons {
  float:right;
}

th .edit {
  float:right;
  font-weight: normal;
  cursor: pointer;
}

/* Tooltips by pH */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    width: 240px;
    bottom: 110%;
    left: 50%;
    margin-left: -120px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.parts {
  border: solid 1px #cfcfcf;
  margin: 0;
  padding: 1em;
  background-color: #fafafa;
}

/** Info Box **/
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    border: solid 1px #cdcdcd;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    text-transform: uppercase;
    font-size:1em;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

  /** xlarge, large */
  @media screen and (max-width: 1680px) {
  }
  /** medium */
  @media screen and (max-width: 980px) {
    .info-box-text {
      font-size: 0.8em;
    }
  }
  /** small, xsmall, xxsmall */
  @media screen and (max-width: 736px) {
    .info-box-icon {
      width: 45px;
      height: 45px;

    }
    .info-box-content {
      margin-left: 45px;
    }
  }


.login_icon {
    background-image: url('../../images/icon_login.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.nendo_face_icon {
    background-image: url('../../images/icon_nendo_face.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.nendo_hair_icon {
    background-image: url('../../images/icon_nendo_hair.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.nendo_hand_icon {
    background-image: url('../../images/icon_nendo_hand.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.nendo_body_icon {
    background-image: url('../../images/icon_nendo_body.png');
    background-repeat: no-repeat;
    background-size:100%;
}
.nendo_accessories_icon {
    background-image: url('../../images/icon_nendo_accessories.png');
    background-repeat: no-repeat;
    background-size:100%;
}

.nendo_boxes_icon {
    background-image: url('../../images/icon_nendo_boxes.png');
    background-repeat: no-repeat;
    background-size:100%;
}

.nendo_nendo_icon {
    background-image: url('../../images/icon_nendo_nendo.png');
    background-repeat: no-repeat;
    background-size:100%;
}

#login_button, #logout_button {
  cursor: pointer;
}

.bordered {
  padding:10px 0px;
  border-radius: 5px;
  border: dashed 1px #000;
  background-color:#efefef;
}

  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

.add-box {
  background-size: contain;
  background-position: center;
  background-color: #FAB483;
}

#button_new_box {
  cursor: pointer;
}

.included {
  position: absolute;
  top:0px;
  left:0px;
}

.dropzone {
  border: dashed 10px #F57921;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.withadd {
  border: dashed 5px #F57921;
  background-color: #CDCDCD;
  text-align: center;
  vertical-align: middle;
}

blockquote.warning {
  border-left: solid 4px #F57921;
}

#menu_area>div>div {
  float:right;
}
#menu_area .select-wrapper {
  margin-left: 1em;
}
#menu_area select {
  padding-right: 2em;
}
#menu_area .select-wrapper:before {
  width: 1em;
}

.fa-edit, .fa-check {
  cursor: pointer;
}

.fa-edit:hover, .fa-check:hover, #logout_submit:hover {
  color: #F57921;
}

.atright {
  float:right;
}

input[forwhat] {
  height:inherit;
}

.color_field_box {
  height: 20px;
  width: 50px;
  border: solid 1px #c9c9c9;
}

.tooltip_histentry {
  height: 100px;
  width: 100px;
}

.tooltip_collectentry {
  height: 100px;
  width: 100px;
}

#toggle_history, #toggle_metadata, #logout_submit {
  cursor: pointer;
}

#logout_submit {
  font-size:0.8em;
}

/** COLLECTION */
.owned_infos {
  background-color: #F9DBC7;
}
.owned_infos span>span {
  color: #F57921;
}
.owned {
  background-color: #F9DBC7;
  color: #009c00;
}
.notowned {
  background-color: #ece0e0;
  color: #9c0000;
}
.owned .ownedstatus       { display:inline; }
.owned .notownedstatus    { display:none; }
.notowned .ownedstatus    { display:none; }
.notowned .notownedstatus { display:inline; }
.owned #uncollect            { display:inline; }
.owned #collect              { display:none; }
.notowned #uncollect         { display:none; }
.notowned #collect           { display:inline; }

.collect_section .checked {
  border: solid 4px #F57921;
}

.collect_section .unchecked {
  border: 0px;
}

.collect_section .owned {
  border: solid 4px #1A1A59;
}

.collect_section .checked.pending {
  border: dashed 4px #F57921;
}

.collect_section .checked.success {
  border: solid 4px #1E6912;
}
.collect_section .checked.faillure {
  border: solid 4px #801515;
}

.guidelines {
  font-size: 0.8em;
}
.accept-requested {
  display: none;
}

#upload_zone {
  border: dashed 2px #F57921;
  padding: 5px;
  min-height: 128px;
  background-image: url(../../images/folder.png);
  background-repeat: no-repeat;
}

#upload_zone > span {
  margin-left: 150px;
}

.picture-tile {
  margin: 2px;
  border: 1px solid silver;
  padding: 1px;
}
.picture-tile .top-of-tile {
  border-bottom: 1px solid silver;
  font-size: 0.8em;
  padding: 6px 5px;
}
.picture-tile .top-of-tile input[type="checkbox"] + label:before {
  top: -3px; /* Magic number... */
}
.picture-tile .bottom-of-tile {
  border-top: 1px solid silver;
  font-size: 0.8em;
  padding: 0px 5px;
}
.picture-tile div>img {
  text-align: center;
}

td.photo_cell {
  text-align: center;
}

.image-and-annotations {
  position: relative;
}
.image-and-annotations > div.image-annotation {
  visibility: hidden;
}
.image-and-annotations:hover > div.image-annotation {
  visibility: visible;
}
.image-annotation, .image-annotation-drawer {
  border: dashed 1px black;
  position: absolute;
}
.image-annotation-link {
  border: dashed 1px white;
  width: 100%;
  height: 100%;
  display: block;
}
.image-annotation-link:hover {
  border: dashed 1px #F57921;
}
.image-annotation-link > div {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-size:21px;
  background-color: #F57921;
  width:25px;
  height:25px;
  opacity: 0.7;
  border-right: dashed 1px white;
  border-bottom: dashed 1px white;
}
.image-annotation-link:hover > div {
  opacity: 1;
}
.image-annotation-nendoroid {
  background-image: url('../../images/icon_nendo_nendo.png');
}
.image-annotation-face {
    background-image: url('../../images/icon_nendo_face.png');
}
.image-annotation-hair {
    background-image: url('../../images/icon_nendo_hair.png');
}
.image-annotation-hand {
    background-image: url('../../images/icon_nendo_hand.png');
}
.image-annotation-bodypart {
    background-image: url('../../images/icon_nendo_body.png');
}
.image-annotation-accessory {
    background-image: url('../../images/icon_nendo_accessories.png');
}
.image-annotation-box {
    background-image: url('../../images/icon_nendo_boxes.png');
}

#box_cancel {
  float: right;
}
#parttype_chooser > div > img {
  border: solid 1px black;
  background-color: lightgrey;
  width: 100%;
}
#parttype_chooser > div > img:hover {
  background-color: #FAB483;
}
#parttype_chooser > div > img.choosen {
  background-color: #F57921;
}

.single_part:hover > span {
  border: solid 5px #FAB483;
}

.single_part_choosen > span {
  border: solid 5px #F57921;
}

#image_container {
  margin-top:10px;
}
