Options +FollowSymlinks
RewriteEngine On

RewriteRule ^home$                            index.php?action=home [L]
RewriteRule ^nendoroid/(.*)/(.*)_([0-9]+)/$                 index.php?action=nendoroid&box=$1&nendourlname=$2&nendointernalid=$3 [L]
