Options +FollowSymlinks
RewriteEngine On

# IMAGES
## WARNING, need to check why we need to add the path of the application...
RewriteCond %{DOCUMENT_ROOT}/images/nendos/$1/$2.jpg -f
RewriteRule ^images/nendos/(.*)/([0-9]+).jpg$    images/nendos/$1/$2.jpg [L]
RewriteRule ^images/nendos/(.*)/([0-9]+).jpg$    images/unknown.png [L]

# LOGIN
RewriteRule ^loginandout$                         index.php?action=loginandout [L]

# SERVICES
RewriteRule ^services/box/add$                    index.php?action=add_box [L]
RewriteRule ^services/nendoroid/add$              index.php?action=add_nendoroid [L]
RewriteRule ^services/(box|nendoroid)/([0-9]+)/picupload$     index.php?action=picupload&part=$1&internalid=$2 [L]

# EDIT
RewriteRule ^box/add$                             index.php?action=edit_box&target=add [L]
RewriteRule ^nendoroid/add$                       index.php?action=edit_nendoroid&target=add [L]
RewriteRule ^box/(.*)_([0-9]+)/addnendoroid$      index.php?action=edit_nendoroid&target=add&box_name=$1&box_id=$2 [L]

# HOME
RewriteRule ^home$                                index.php?action=home [L]
# LISTINGS
RewriteRule ^boxes$                               index.php?action=boxes [L]
RewriteRule ^boxes/$                              index.php?action=boxes [L]
RewriteRule ^nendoroids$                          index.php?action=nendoroids [L]
RewriteRule ^nendoroids/$                         index.php?action=nendoroids [L]
RewriteRule ^faces$                               index.php?action=faces [L]
RewriteRule ^faces/$                              index.php?action=faces [L]
RewriteRule ^hairs$                               index.php?action=hairs [L]
RewriteRule ^hairs/$                              index.php?action=hairs [L]
RewriteRule ^hands$                               index.php?action=hands [L]
RewriteRule ^hands/$                              index.php?action=hands [L]
RewriteRule ^bodyparts$                           index.php?action=bodyparts [L]
RewriteRule ^bodyparts/$                          index.php?action=bodyparts [L]
RewriteRule ^accessories$                         index.php?action=accessories [L]
RewriteRule ^accessories/$                        index.php?action=accessories [L]
# SINGLE PAGES
RewriteRUle ^box/(.*)_([0-9]+)/$                  index.php?action=box&boxinternalid=$2 [L]
RewriteRule ^nendoroid/(.*)/(.*)_([0-9]+)/$       index.php?action=nendoroid&nendointernalid=$3 [L]
RewriteRule ^nendoroid/(.*)_([0-9]+)/$            index.php?action=nendoroid&nendointernalid=$2 [L]
