Options +FollowSymlinks
RewriteEngine On

############
## IMAGES ##
############
RewriteCond %{DOCUMENT_ROOT}/images/nendos/$1/$2.jpg -f
RewriteRule ^images/nendos/(.*)/([0-9]+).jpg$                         images/nendos/$1/$2.jpg [L]
RewriteRule ^images/nendos/(.*)/([0-9]+).jpg$                         images/unknown.png [L]

###########
## LOGIN ##
###########
RewriteRule ^services/loginandout$                                    services.php?action=loginandout [L]

##############
## SERVICES ##
##############
RewriteRule ^services/(box|nendoroid|face|hair|hand|bodypart|accessory)/([0-9]+)/(edit|picupload)$    services.php?action=$3&element=$1&internalid=$2 [L]
RewriteRule ^services/(box|nendoroid|face|hair|hand|bodypart|accessory)/add$                          services.php?action=add&element=$1 [L]

#########
## ADD ##
#########
RewriteRule ^addbox$                                                  index.php?action=add&element=box [L]
RewriteRule ^box/([0-9]+)/(.*)/addnendoroid$                          index.php?action=add&element=nendoroid&box_internalid=$1 [L]
RewriteRule ^addnendoroid$                                            index.php?action=add&element=nendoroid [L]

#RewriteRule ^box/(.*)_([0-9]+)/nendoroid/(.*)_([0-9]+)/addface$       index.php?action=edit_face&target=add&box_id=$2&nendoroid_id=$4 [L]
#RewriteRule ^box/(.*)_([0-9]+)/addface$                               index.php?action=edit_face&target=add&box_id=$2 [L]
#RewriteRule ^addface$                                                 index.php?action=edit_face&target=add [L]
#RewriteRule ^box/(.*)_([0-9]+)/nendoroid/(.*)_([0-9]+)/addhair$       index.php?action=edit_hair&target=add&box_id=$2&nendoroid_id=$4 [L]
#RewriteRule ^box/(.*)_([0-9]+)/addhair$                               index.php?action=edit_hair&target=add&box_id=$2 [L]
#RewriteRule ^addhair$                                                 index.php?action=edit_hair&target=add [L]
#RewriteRule ^box/(.*)_([0-9]+)/nendoroid/(.*)_([0-9]+)/addhand$       index.php?action=edit_hand&target=add&box_id=$2&nendoroid_id=$4 [L]
##RewriteRule ^box/(.*)_([0-9]+)/addhand$                               index.php?action=edit_hand&target=add&box_id=$2 [L]
#RewriteRule ^addhand$                                                 index.php?action=edit_hand&target=add [L]
#RewriteRule ^box/(.*)_([0-9]+)/nendoroid/(.*)_([0-9]+)/addbodypart$   index.php?action=edit_bodypart&target=add&box_id=$2&nendoroid_id=$4 [L]
#RewriteRule ^box/(.*)_([0-9]+)/addbodypart$                           index.php?action=edit_bodypart&target=add&box_id=$2 [L]
#RewriteRule ^addbodypart$                                             index.php?action=edit_bodypart&target=add [L]
#RewriteRule ^box/(.*)_([0-9]+)/nendoroid/(.*)_([0-9]+)/addaccessory$  index.php?action=edit_accessory&target=add&box_id=$2&nendoroid_id=$4 [L]
#RewriteRule ^box/(.*)_([0-9]+)/addaccessory$                          index.php?action=edit_accessory&target=add&box_id=$2 [L]
#RewriteRule ^addaccessory$                                            index.php?action=edit_accessory&target=add [L]

####################
## HOME & CREDITS ##
####################
RewriteRule ^home$                                                    index.php?action=home [L]
RewriteRule ^credits$                                                 index.php?action=credits [L]

##############
## LISTINGS ##
##############

# BOXES #
RewriteRule ^boxes$                                                                                                                                                                                                           index.php?action=boxes [L]
RewriteRule ^boxes/$                                                                                                                                                                                                          index.php?action=boxes [L]
RewriteRule ^boxes/orderby/(box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)$                 index.php?action=boxes&order=$1 [L]
RewriteRule ^boxes/orderby/(box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)/$                index.php?action=boxes&order=$1 [L]
RewriteRule ^boxes/orderby/(box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)$      index.php?action=boxes&order=$1&direction=$2 [L]
RewriteRule ^boxes/orderby/(box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)/$     index.php?action=boxes&order=$1&direction=$2 [L]

# NENDOROIDS #
RewriteRule ^nendoroids$                                                                                              index.php?action=nendoroids [L]
RewriteRule ^nendoroids/$                                                                                             index.php?action=nendoroids [L]
RewriteRule ^nendoroids/orderby/(nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)$               index.php?action=nendoroids&order=$1 [L]
RewriteRule ^nendoroids/orderby/(nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)/$              index.php?action=nendoroids&order=$1 [L]
RewriteRule ^nendoroids/orderby/(nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)$    index.php?action=nendoroids&order=$1&direction=$2 [L]
RewriteRule ^nendoroids/orderby/(nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)/$   index.php?action=nendoroids&order=$1&direction=$2 [L]

# FACES #
RewriteRule ^faces$                               index.php?action=faces [L]
RewriteRule ^faces/$                              index.php?action=faces [L]
RewriteRule ^faces/orderby/(face_eyes_color|face_skin_color|face_sex|nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)$                index.php?action=faces&order=$1 [L]
RewriteRule ^faces/orderby/(face_eyes_color|face_skin_color|face_sex|nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)/$               index.php?action=faces&order=$1 [L]
RewriteRule ^faces/orderby/(face_eyes_color|face_skin_color|face_sex|nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)$     index.php?action=faces&order=$1&direction=$2 [L]
RewriteRule ^faces/orderby/(face_eyes_color|face_skin_color|face_sex|nendoroid_name|nendoroid_version|nendoroid_sex|box_number|box_name|box_series|box_manufacturer|box_category|box_price|box_releasedate|box_sculptor|box_cooperation|db_creatorname|db_creationdate|db_editorname|db_editiondate)_(asc|desc)/$    index.php?action=faces&order=$1&direction=$2 [L]

# HAIRS #
RewriteRule ^hairs$                               index.php?action=hairs [L]
RewriteRule ^hairs/$                              index.php?action=hairs [L]
#RewriteRule ^hairs/orderby/(color|frontback|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)$                          index.php?action=hairs&order=$1 [L]
#RewriteRule ^hairs/orderby/(color|frontback|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)/$                         index.php?action=hairs&order=$1 [L]
#RewriteRule ^hairs/orderby/(color|frontback|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)$               index.php?action=hairs&order=$1&direction=$2 [L]
#RewriteRule ^hairs/orderby/(color|frontback|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)/$              index.php?action=hairs&order=$1&direction=$2 [L]

# HANDS #
#RewriteRule ^hands$                               index.php?action=hands [L]
#RewriteRule ^hands/$                              index.php?action=hands [L]
#RewriteRule ^hands/orderby/(color|leftright|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)$                          index.php?action=hands&order=$1 [L]
#RewriteRule ^hands/orderby/(color|leftright|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)/$                         index.php?action=hands&order=$1 [L]
#RewriteRule ^hands/orderby/(color|leftright|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)$               index.php?action=hands&order=$1&direction=$2 [L]
#RewriteRule ^hands/orderby/(color|leftright|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)/$              index.php?action=hands&order=$1&direction=$2 [L]

# BODYPARTS #
#RewriteRule ^bodyparts$                           index.php?action=bodyparts [L]
#RewriteRule ^bodyparts/$                          index.php?action=bodyparts [L]
#RewriteRule ^bodyparts/orderby/(color|part|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)$                          index.php?action=bodyparts&order=$1 [L]
#RewriteRule ^bodyparts/orderby/(color|part|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)/$                         index.php?action=bodyparts&order=$1 [L]
#RewriteRule ^bodyparts/orderby/(color|part|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)$               index.php?action=bodyparts&order=$1&direction=$2 [L]
#RewriteRule ^bodyparts/orderby/(color|part|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)/$              index.php?action=bodyparts&order=$1&direction=$2 [L]

# ACCESSORIES #
#RewriteRule ^accessories$                         index.php?action=accessories [L]
#RewriteRule ^accessories/$                        index.php?action=accessories [L]
#RewriteRule ^accessories/orderby/(color|accessory|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)$                          index.php?action=accessories&order=$1 [L]
#RewriteRule ^accessories/orderby/(color|accessory|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)/$                         index.php?action=accessories&order=$1 [L]
#RewriteRule ^accessories/orderby/(color|accessory|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)$               index.php?action=accessories&order=$1&direction=$2 [L]
#RewriteRule ^accessories/orderby/(color|accessory|box|type|nendoroid|origin|version|company|creator|creation|editor|edition)_(asc|desc)/$              index.php?action=accessories&order=$1&direction=$2 [L]

##################
## SINGLE PAGES ##
##################
RewriteRUle ^box/([0-9]+)/(.*)/$                  index.php?action=box&box_internalid=$1 [L]
RewriteRUle ^box/([0-9]+)/$                       index.php?action=box&box_internalid=$1 [L]
RewriteRule ^nendoroid/([0-9]+)/(.*)/$            index.php?action=nendoroid&nendoroid_internalid=$1 [L]
RewriteRule ^nendoroid/([0-9]+)/$                 index.php?action=nendoroid&nendoroid_internalid=$1 [L]
#RewriteRule ^face/([0-9]+)/$                      index.php?action=face&face_internalid=$1 [L]
#RewriteRule ^hair/([0-9]+)/$                      index.php?action=hair&hair_internalid=$1 [L]
#RewriteRule ^hand/([0-9]+)/$                      index.php?action=hand&hand_internalid=$1 [L]
#RewriteRule ^bodypart/([0-9]+)/$                  index.php?action=bodypart&bodypart_internalid=$1 [L]
#RewriteRule ^accessory/([0-9]+)/$                 index.php?action=accessory&accessory_internalid=$1 [L]
